.portfolio {
  background-color: #fff9ea;
  text-align: center;
  padding-top: 59px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    padding-top: 89px;
    margin-bottom: 100px;
  }

  @media (min-width: 1024px) {
    padding-top: 139px;
    margin-bottom: 150px;
  }

  &__content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 40px;
    font-family: "Halyard Display", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: $halyardDisplay;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 60px;
    }
  }

  &__description {
    margin-bottom: 40px;
    color: $halyardText;

    @media (min-width: 768px) {
      font-size: 21px;
      line-height: 32px;
    }
  }

  &__btn {
    width: 150px;
    height: 50px;
    margin-bottom: 40px;
    padding: 17px 18px;
    border-radius: 100px;
    border: 1px solid $white;
    color: $white;
    background: $button;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      border: 1px solid $button;
      background-color: $white;
      color: $button;
    }

    &:focus {
      outline: none;
    }

    &--link {
      padding: 16px;
    }
  }

  &__item {
    width: 100%;
  }
}
